.describeImage-Main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.describeImage-Content{
    height: 300px;
    width: 700px;
    background-color: rgb(146, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.describeImage-Image{
    height: 90%;
    width: 45%;
    background-color: antiquewhite;
}
.describeImage-RecordAnswer{
    width: 45%;
    height: 90%;
    background-color: rgb(177, 196, 196);
}
.describeImage-Image-img{
    max-height: 269px;
    width: 100%;

}