.practiceSingleAnswer-main-content-question-subHeading{
    font-family: "Source Serif 4", serif;
    font-style: italic;
}
.practiceSingleAnswer-main-content-question-p, .practiceReadAloud-main-content-question label{
    font-family: "Source Serif 4", serif;
    font-style: normal;
}