.summariseWrittenText-main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.summariseWrittenText-main-content{
    height: 553px;
    width: 90%;
    /* background-color: aliceblue; */
    padding: 10px;
    border: 1px solid #f6f6f6;
}
.summariseWrittenText-main-content-questions{
    display: flex;
    flex-direction: column;
    gap: 1rem;   
}
.summariseWrittenText-main-content-textArea-Div textarea{
    margin-bottom: 16px;
    width: 100%;
    height: 200px;
    padding: 10px;
    outline: none;
    font: 1rem "Source Serif 4", serif;
    /* font-family: "Source Serif 4", serif; */
}
.summariseWrittenText-main-content-QuestionsDiv-P{
    font-family: "Source Serif 4", serif;
    font-style: italic;
}
.summariseWrittenText-main-content-summary p{
    font-family: "Source Serif 4", serif;
    font-style: normal;
}
@media (max-width: 600px) {
    .summariseWrittenText-main{
        align-items: flex-start;
    }
}