.payment-content-ele{
    display: flex;
    justify-content: space-between;
}
.payment-content-button{
    background-color: #4caf4f;
    width: 100%;
    border: none;
    padding: 5px 5px;
    color: #fff;
}
.payment-content-head-close{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.payment-content-close{
    cursor: pointer;
}